@font-face {
  font-family: 'HindVadodara-Bold'; /* Имя шрифта */
  src: url(../fonts/Hind_Vadodara/HindVadodara-Bold.ttf); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family: 'HindVadodara-SemiBold'; /* Имя шрифта */
  src: url(../fonts/Hind_Vadodara/HindVadodara-SemiBold.ttf); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family: 'HindVadodara-Regular'; /* Имя шрифта */
  src: url(../fonts/Hind_Vadodara/HindVadodara-Regular.ttf); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family: 'HindVadodara-Medium'; /* Имя шрифта */
  src: url(../fonts/Hind_Vadodara/HindVadodara-Medium.ttf); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family: 'HindVadodara-Light'; /* Имя шрифта */
  src: url(../fonts/Hind_Vadodara/HindVadodara-Light.ttf); /* Путь к файлу со шрифтом */
 }
 @font-face {
   font-family: "Roboto-Bold";
   src: url(../fonts/Roboto/Roboto-Bold.ttf);
 }